.ui-accordion-header
  position: relative
  padding: 10px 20px
  background-color: $light-gray
  border-top: 1px solid lighten($light-gray, 15%)
  border-bottom: 1px solid darken($light-gray, 10%)
  font-family: $font
  font-size: 20px
  cursor: pointer
  +box-shadow(rgba(black, 0.2) 0 -2px 2px)

  &:hover
    background-color: lighten($light-gray, 1%)

  span
    display: block
    position: absolute
    top: 50%
    margin-top: -8px

  a
    display: block
    margin-left: 20px
    text-decoration: none
    color: #555
    +text-shadow(white 0px 1px 0)

.ui-accordion-content
  position: relative
  margin-bottom: 8px
  padding: 15px 20px

  &> p.hint
    padding-bottom: 15px

