[submodule "vendor/submodules/Aristo-jQuery-UI-Theme"]
	path = vendor/submodules/Aristo-jQuery-UI-Theme
	url = git://github.com/taitems/Aristo-jQuery-UI-Theme.git
[submodule "vendor/submodules/formalize"]
	path = vendor/submodules/formalize
	url = https://github.com/nathansmith/formalize.git
[submodule "vendor/submodules/datatables"]
	path = vendor/submodules/datatables
	url = https://github.com/DataTables/DataTables.git
