#page-content
  padding-left: $page-sidebar-width

  h2
    font-size: 25px
    background: $blue
    color: white
    height: $page-header-height
    line-height: $page-header-height
    padding: 0 20px
    font-family: $decorative-font
    font-weight: 300
    +text-shadow(rgba(black, 0.5) 0 -1px 0)

