#page-content
  padding-left: $page-sidebar-width

  h2
    font-size: 25px
    background: $blue
    color: white
    height: $page-header-height
    line-height: $page-header-height
    padding: 0 20px
    font-family: $decorative-font
    font-weight: 300
    +text-shadow(rgba(black, 0.5) 0 -1px 0)

#top-bar
  position: absolute
  top: 0px
  right: 0px
  height: $page-header-height

  .search-box
    float: left
    padding: ($page-header-height - 25px) / 2
    height: 25px
    color: white
    font-weight: 300
    +text-shadow(rgba(black, 0.5) 0 -1px 0)
    font-size: 13px
    text-align: right

    input[type="text"]
      height: 25px
      margin-right: 5px
      display: inline-block

    input[type="submit"]
      height: 25px
      padding: 0 8px
      line-height: 25px
