div.input {
    margin: 8px 0;

    &.submit {
        margin-left: 170px;
    }


    label {
        display: inline-block;
        text-align: right;
        width: 140px;
        margin-right: 10px;
        font-size: 13px;
        padding-top: 5px;
    }

    input, textarea {
        display: inline-block;
        @include border-radius(3px);

        &.text {
            width: 420px;
        }

        &.numeric {
            width: 180px;            
        }
    }

}
