.ui-flash {
    margin: 10px 0;
    padding: 10px;

    p { margin: 0; }

    .ui-icon {
        float: left;
        margin-right: 4px;
    }

    &.ui-state-notice {
        border: 1px solid #d2dbf4;
        background: #f4f8fd;
        color: #0d2054;
        @include border-radius(0);

        .ui-icon-notice { background-position: -64px -144px; }
    }

    &.ui-state-alert {
        border: 1px solid #e2d0d0;
        background: #fcf0f0;
        color: #280b0b;
        @include border-radius(0);

        .ui-icon-notice { background-position: 0 -144px; }
    }
}

.ui-accordion-header {
    position: relative;
    padding: 8px 0;
    background-color: $light-gray;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -8px;
    }

    a {
        display: block;
        font-size: 16px;
        margin-left: 20px;
        text-decoration: none;
        color: $grey;
        @include text-shadow(white 0px 1px 0);
    }
}

.ui-accordion-content {
    position: relative;
    margin-bottom: 8px;
    padding: 4px 20px;
}
