# =require_tree ./jquery-ui-theme
# =require formalize/formalize.css

@import compass
@import colors
@import "partials/ui"

+global-reset

body
  color: #222
  font-family: sans-serif
  font-size: 14px

  @import layout/page_container

