/* Colors */
$blue: #3170BA
$light-gray: #ececec
$light-blue: #eaf2fa

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800)
$font: 'Open Sans', sans-serif

/* Old colors */
$ry-green:   #8BB106
$ry-blue:    #068BB1
$ry-fuchsia: #B1068B
$background: #999
$grey:       #666

$ry-green-light:   lighten($ry-green, 50%)
$ry-blue-light:    lighten($ry-blue, 50%)
$ry-fuchsia-light: lighten($ry-fuchsia, 50%)
